<p>Bot Report</p>


<p>What do people see when they look at financial statements? What is a Cash Flow? Why does that even matter? what makes it relevant? and how can the internet help me cheat my way to understanding it?</p>
<p>BotReport is a free to use web application that will help spell out the relationships on financial statments and provide an overview of relative analysis. All you need is a valid e-mail with which to sign on.</p>
<p>View your reports <%= link_to "here", user_path(current_user) %>.</p>
