<p>What is the difference between American Options and European Options?</p>
<p>American options can be exercised at any point, while European options can only be exercised at the expiration date. Call options give the the holder the right, not the obligation to buy a security at a given price. Put options give the holder the right, not the obligation to sell a security at a given price. </p>
