<div class='clearfix'>
<div class="separators" style="float:left;">What is <strong>Relative Value</strong>?<br>s
<strong>Relative Value</strong> is the idea that you can derive the value of an asset by comparing it to similar assets. </div>
<div class="separators" style="float:right;">What is <strong>Absolute Value</strong>?<br>
<strong>Absolute Value</strong> is the idea that an asset's value can be determined based on it's own attributes and future income. </div>
</div>
<br><br>

<p>What do either of these notions have to do with the BotReport? And why would they be related to a robot apocalypse? One of the more common tools in Relative Valuations is the use of <strong>Ratios</strong>. Creating a set of ratios for a company based on it's financial statements and comparing it to the ratios of similar companies. All else beign equal, if one company is able to create more profit in the same industry doing the same work it is reasonable to say that company is worth more than its contemporary.</p>
<p>The BotReport is capable of ratio analysis and provides a jumping off point for understanding and creating your own financial ratios.</p>
<p>In addition to this tool, the BotReport offers <strong>Pro-Forma</strong> statement creation. What is a pro-forma? A pro-forma is a non-standard earnings estimate going into the future. Companies release pro-formas with regularity in order to illustrate their expectations for the future. All else beign equal, if one company is expecting to earn double that its contemporary woulld earn it is reasonable to say that company is worth more than its contemporary.</p>
<p>The BotReport has the capability to offer pro-forma estimates going out a number of years.</p>
<p>EMH, Efficient Market Hypothesis is a three stage hypothesis that describes the movement of stock-prices in the market. The strongest form of Efficient Market assumes that stock prices encompass all information, both public and private. Legal and ethical boundaries do not limit the flow of information. The semi-strong form of the Efficient Market assumes that stock prices reflect immediately the release of all relevant economic, industry and company information, and that neither fundamental or technical analysis can reliably beat the market. Weak form Efficient Market assumes the use primarily of past pricing data in predicting future prices, and has largely been discounted. </p>