NEWS FLASH!

List of current reports: Powered by The New York Times<br>
<main>|
<% @projectlist.each do |proj| %>
	<%= proj %> |
<% end %>
</main>
<div id='c'></div>
<script type="text/javascript">
  var projectlist = "<%= @projectlist %>".replace(/&quot;|\[|\]/g,'').split(',')
	var ready = function(){
		for(var i = 0; i < projectlist.length ; i++){
			var subject = projectlist[i];
			var article = '';
			$.getJSON('https://api.nytimes.com/svc/search/v2/articlesearch.json?q=' + subject + '+business&fq=subject(' + subject + ')&api-key=<%= ENV['NYTIMES_API_KEY'] %>', function(data) {
				for(var j = 0; j < 5; j ++){
					var header = data['response']['docs'][j]['headline']['print_headline'] || 'Undefined Title';
					var snippet = data['response']['docs'][j]['snippet'];
					var link = data['response']['docs'][j]['web_url'];
					html = "<span class='header' style='color:red;'>"+ header +"</span><article>" + snippet + "</article><span class='link'><a href='" + link + "'>" + link + "</a></span><br>";
					$('#c').append(html);
				}
			})
		}
	}

	$(document).ready(ready);
	$(document).on('page:load', ready)
</script>
